@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cd634d54b5a04fb68cfc3a240bcfd5bf.woff') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e60b";
}

.icon-29youxiangfill:before {
  content: "\e653";
}

.icon-duoyuyan:before {
  content: "\e654";
}

.icon-shijian:before {
  content: "\e616";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-dizhi:before {
  content: "\e600";
}

.icon-angle-down:before {
  content: "\e606";
}

.icon-angle-up:before {
  content: "\e607";
}

.icon-denglu:before {
  content: "\e67c";
}

.icon-sousuo1:before {
  content: "\e602";
}

.icon-techreport-:before {
  content: "\e62e";
}

.icon-dizhi1:before {
  content: "\e938";
}

.icon-fanhuizuojiantouxiangzuoshangyibuxianxing:before {
  content: "\e608";
}

.icon-lianxifangshi:before {
  content: "\e605";
}

.icon-qr_code:before {
  content: "\e601";
}

.icon-right:before {
  content: "\e671";
}

.icon-sousuo2:before {
  content: "\e6bd";
}

